[Unit]
Description = EGPAF toolbox Service
After       = network.target

[Service]
Group=www-data
WorkingDirectory=/var/www/toolbox-host
Environment="PATH=/var/www/toolbox-host/flask/bin"
ExecStart=/usr/bin/python  /var/www/toolbox-host/start.py


# In case if it gets stopped, restart it immediately
Restart = always

Type = simple


[Install]
# multi-user.target corresponds to run level 3
# roughtly meaning wanted by system start
WantedBy    = multi-user.target

