[Unit]
Description=Toolbox Startup Reporter
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 300
ExecStart=/usr/bin/python3 /var/www/toolbox-offline-exporter/startup_exporter.py
Environment="PATH=/var/www/toolbox-offline-exporter/flask3/bin"
WorkingDirectory=/var/www/toolbox-offline-exporter
StandardOutput=journal
StandardError=journal
Restart=no

[Install]
WantedBy=multi-user.target
